<div class="waiting">
  <div class="spinner">
     <i class="fa fa-circle-o-notch fa-spin"></i>
  </div>
</div>
<div class="wrapper">
  <h1>
	 <%= "Generator #{@generator.id}" %>
	</h1>
	MODEL - "Yes"
	<br>
	Event 1 Mean
	<%=@generator.event1_mean%>
	<br>
	Event 2 Mean
	<%=@generator.event2_mean%>
	<br>
	Event 3 Mean
	<%=@generator.event3_mean%>
	<br>
	Event 4 Mean
	<%=@generator.event4_mean%>
	<br>
	Event 5 Mean
	<%=@generator.event5_mean%>
	<br>
	Event 6 Mean
	<%=@generator.event6_mean%>
	<br>
	Event 7 Mean
	<%=@generator.event7_mean%>
	<br>
	Event 8 Mean
	<%=@generator.event8_mean%>
	<br>
	<p>
	  MODEL - "No"
	  <br>
	  Event 1 Mean
	  <%=@generator.event1_negative_mean%>
	  <br>
	  Event 2 Mean
	  <%=@generator.event2_negative_mean%>
   	<br>
	  Event 3 Mean
	  <%=@generator.event3_negative_mean%>
	  <br>
	  Event 4 Mean
	  <%=@generator.event4_negative_mean%>
	  <br>
	  Event 5 Mean
	  <%=@generator.event5_negative_mean%>
	  <br>
	  Event 6 Mean
	  <%=@generator.event6_negative_mean%>
	  <br>
	  Event 7 Mean
	  <%=@generator.event7_negative_mean%>
	  <br>
	  Event 8 Mean
	  <%=@generator.event8_negative_mean%>
	</p>
	<br>
	<%=link_to "Generator #{@generator.id} Scores", generator_scores_path(generator_id: @generator.id) %>
	<br>
	<div class="new_score_submit">
	  <%=link_to "Generate New Score" , new_generator_score_path(params[:id])%>
	</div>
	<br>
	<%=link_to "Home", root_path%>
</div>
