<div class="wrapper">
<h1>
	Score
</h1>
<p>
 <%-if @score.event1 == "1"%>
 <%= "Klein"%>
 <% elsif @score.event1 == "2"%>
  <%= "Groß"%>
 <%else%>
   <%= "Fermate" %>
<%end%>
<br>
 <%-if @score.event2 == "1"%>
 <%= "Klein"%>
 <% elsif @score.event2 == "2"%>
  <%= "Groß"%>
 <%else%>
   <%= "Fermate" %>
<%end%>
<br>
 <%-if @score.event3 == "1"%>
 <%= "Klein"%>
 <% elsif @score.event3 == "2"%>
  <%= "Groß"%>
 <%else%>
   <%= "Fermate" %>
<%end%>
<br>
 <%-if @score.event4 == "1"%>
 <%= "Klein"%>
 <% elsif @score.event4 == "2"%>
  <%= "Groß"%>
 <%else%>
   <%= "Fermate" %>
<%end%>
<br>
 <%-if @score.event5 == "1"%>
 <%= "Klein"%>
 <% elsif @score.event5 == "2"%>
  <%= "Groß"%>
 <%else%>
   <%= "Fermate" %>
<%end%>
<br>
 <%-if @score.event6 == "1"%>
 <%= "Klein"%>
 <% elsif @score.event6 == "2"%>
  <%= "Groß"%>
 <%else%>
   <%= "Fermate" %>
<%end%>
<br>
 <%-if @score.event7 == "1"%>
 <%= "Klein"%>
 <% elsif @score.event7 == "2"%>
  <%= "Groß"%>
 <%else%>
   <%= "Fermate" %>
<%end%>
<br>
 <%-if @score.event8 == "1"%>
 <%= "Klein"%>
 <% elsif @score.event8 == "2"%>
  <%= "Groß"%>
 <%else%>
   <%= "Fermate" %>
<%end%>
</p>

</div>
